<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="captchaSiteKey" value="6LcHZqsUAAAAAMQMR_HSlTK4N52S4Pu5G3FPmgt5"/>
    <add key="captchaSecretKey" value="6LcHZqsUAAAAAPaCkrlYu1S_czkBV2BTNJsEaA3N"/>
    <add key="RestoreGmail" value="noreplyconquerzone@gmail.com"/>
    <add key="RestoreGmailPassword" value="noreply99Z"/>
    <add key="accountsDB" value="server=localhost;username=root;password=callalista08;database=auth;"/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>
  <!--E
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <location path="patches">
    <system.webServer>
      <directoryBrowse enabled="true"/>
    </system.webServer>
  </location>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <customErrors mode="On" defaultRedirect="Error">
      <error statusCode="404" redirect="~/home"/>
    </customErrors>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <!--<staticContent>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
    </staticContent>-->
    <defaultDocument>
      <files>
        <clear/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
        <add value="default.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
