@{
    ViewBag.Title = "Home";
    Layout = "~/Views/page.cshtml";
}

<div class="site-content" role="main">
    <style>
        .bg-home {
            background-image: url('/img/cover_altice1.jpg') !important;
            background-size: cover;
            padding: 293px 0px 255px 0px !important;
        }

        .mt-5, .my-5 {
            text-align: center !important
        }

        .col-lg-6 {
            flex: 0 0 100% !important;
            max-width: 100% !important;
        }
        .home-center {
            display: table;
            width: 100%;
            height: 100%;
        }

        .home-desc-center {
            display: table-cell;
            vertical-align: middle;
        }

        .bg-home {
            position: relative;
            background-color: #ffffff;
            padding: 130px 0px 70px 0px;
        }

        .home-banner {
            text-shadow: 0 0 10px black, 0 0 5px black, 0 0 1px black, 0 0 2px black;
            font-style: italic;
            color: white;
            margin: 0 0 2rem 0;
            font-size: 1.1rem;
            text-align: center;
        }

        .home-badge p {
            background-color: #f6f7fb;
            display: inline-block;
            padding: 4px 20px;
            border-radius: 4px;
            border: 1px solid #f6f6f6;
        }

        .home-title {
            text-shadow: 0 0 10px black, 0 0 5px black, 0 0 1px black, 0 0 2px black !important;
            color: white !important;
            text-align: center;
            font-family: 'Under Station' !important;
        }

        .home-content .home-title {
            font-size: 45px;
        }

        .home-img-2 img {
            position: relative;
            top: 100px;
            z-index: 1;
        }
    </style>
    <section class="bg-home">
        <div class="home-center">
            <div class="home-desc-center">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="home-content">

                                <h1 class="home-title">A truly classic Conquer Online server.</h1>

                                <div class="mt-5">
                                    <a href="/page/downloads" class="btn btn-primary">Download Game<span class="text-white-50"> </span></a>
                                    <a href="/register" class="btn btn-success">Sign Up<span class="text-white-50"> </span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="home-img">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5 py-md-6">
        <div class="container">
            <div class="row">
                <div class="col-11 col-md-8 text-center mx-auto mb-4">
                    <i class="ya ya-ranking icon"></i>
                    <h2 class="font-weight-bold font-size-lg">What is Altice CONQUER?</h2>
                    <p class="lead">It is a 5517 server which provides new modern classes (Monks, Ninjas, Trojans, Archers,Warriors, Taoists ONLY) without the new other useless characters. There is no CHI, JIANG or whatsover the last thing is the SubClass.</p>

                </div>
            </div>
            <!--<div class="row">
                <div class="col-sm-6 wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                    <div class="skill">
                        <h2>Discord</h2>

                        <iframe src="https://discordapp.com/widget?id=572907221030010880&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>

                    </div>

                </div>--><!--/.col-sm-6-->

                <!--<div class="col-sm-6 wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
                    <h2>Server News</h2>
                    <div id="fb-root"></div>
                    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>
                    <div class="fb-page" data-href="https://www.facebook.com/cqzone/" data-tabs="timeline" data-width="450" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/cqzone/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/cqzone/">Conquer ZONE</a></blockquote></div>
                    <br>

                </div>

            </div>-->
            <br />
            <div class="row">
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-sm">
                        <a class="card-img card-img-lg">
                            <img class="card-img-top" src="~/img/Game/Banshee.png" alt="Snow Banshee">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">
                                <i class="ya ya-check-circle text-success" data-toggle="tooltip" data-placement="bottom" data-title="Available" data-original-title="" title=""></i>
                                <a> Snow Banshee</a>
                            </h5>
                            <p class="card-tex font-size-md mb-0">Custom Boss every hour.</p>
                        </div>

                    </div>
                    <!-- end .card -->
                </div>
                <div class="col-md-4">
                    <div class="card card-sm">
                        <a class="card-img card-img-lg">
                            <span class="badge badge-danger">new</span>
                            <img class="card-img-top" src="~/img/Game/Spook1.png" alt="Thrilling Spook">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">
                                <i class="ya ya-check-circle text-success" data-toggle="tooltip" data-placement="bottom" data-title="Available" data-original-title="" title=""></i>
                                <a> Thrilling Spook</a>
                            </h5>
                            <p class="card-tex font-size-md mb-0">Custom Boss every hour.</p>
                        </div>

                    </div>
                    <!-- end .card -->
                </div>
                <div class="col-md-4">
                    <div class="card card-sm">
                        <a class="card-img card-img-lg">
                            <img class="card-img-top" src="~/img/Game/qualifier.png" alt="Qualifier">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">
                                <i class="ya ya-check-circle text-success" data-toggle="tooltip" data-placement="bottom" data-title="Available" data-original-title="" title=""></i>
                                <a>Qualifier</a>
                            </h5>
                            <p class="card-tex font-size-md mb-0">Full Qualifier arena system including the Arena, TeamArena, CTF, ElitePK, TeamPK, SkillTeamPK.</p>
                        </div>

                    </div>
                    <!-- end .card -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-sm">
                        <a class="card-img card-img-lg">
                            <img class="card-img-top" src="~/img/Game/Pole.png" alt="Custom Events">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">
                                <i class="ya ya-check-circle text-success" data-toggle="tooltip" data-placement="bottom" data-title="Available" data-original-title="" title=""></i>
                                <a> Pole Domination</a>
                            </h5>
                            <p class="card-tex font-size-md mb-0">Different custom hourly events made for entertaining players.</p>
                        </div>

                    </div>
                    <!-- end .card -->
                </div>
                <div class="col-md-4">
                    <div class="card card-sm">
                        <a class="card-img card-img-lg">
                            <span class="badge badge-danger">new</span>
                            <img class="card-img-top" src="~/img/Game/events.png" alt="Events">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">
                                <i class="ya ya-check-circle text-success" data-toggle="tooltip" data-placement="bottom" data-title="Available" data-original-title="" title=""></i>
                                <a href="game-post.html">Custom Events</a>
                            </h5>
                            <p class="card-tex font-size-md mb-0">Custom hourly PVP events. </p>
                        </div>

                    </div>
                    <!-- end .card -->
                </div>
                <div class="col-md-4">
                    <div class="card card-sm">
                        <a class="card-img card-img-lg">
                            <img class="card-img-top" src="~/img/Game/8.jpg" alt="Monk Class">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">
                                <i class="ya ya-check-circle text-success" data-toggle="tooltip" data-placement="bottom" data-title="Available" data-original-title="" title=""></i>
                                <a>Monk Class</a>
                            </h5>
                            <p class="card-tex font-size-md mb-0">All classes till Monk class fully working with al acure skills system without any deformation  .</p>
                        </div>

                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-sm">
                        <a class="card-img card-img-lg">
                            <img class="card-img-top" src="~/img/Game/PVE.png" alt="PVE Events">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">
                                <i class="ya ya-check-circle text-success" data-toggle="tooltip" data-placement="bottom" data-title="Available" data-original-title="" title=""></i>
                                <a> PVE Events</a>
                            </h5>
                            <p class="card-tex font-size-md mb-0">Different PVE events like bosses, MonsterPoints, Hide(n)Seek etc..</p>
                        </div>

                    </div>
                    <!-- end .card -->
                </div>
                <div class="col-md-4">
                    <div class="card card-sm">
                        <a class="card-img card-img-lg">
                            <span class="badge badge-danger">new</span>
                            <img class="card-img-top" src="~/img/Game/tournaments.png" alt="Tournaments">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">
                                <i class="ya ya-check-circle text-success" data-toggle="tooltip" data-placement="bottom" data-title="Available" data-original-title="" title=""></i>
                                <a href="game-post.html">Tournaments</a>
                            </h5>
                            <p class="card-tex font-size-md mb-0">Lots of Daily Tournaments. </p>
                        </div>

                    </div>
                    <!-- end .card -->
                </div>
                <div class="col-md-4">
                    <div class="card card-sm">
                        <a class="card-img card-img-lg">
                            <img class="card-img-top" src="~/img/Game/prizes.png" alt="Points">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">
                                <i class="ya ya-check-circle text-success" data-toggle="tooltip" data-placement="bottom" data-title="Available" data-original-title="" title=""></i>
                                <a>Different Points Systems</a>
                            </h5>
                            <p class="card-tex font-size-md mb-0">We have different points systems for custom prizes..</p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>




</div>
